version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "AndreiTsapliuk"
      - "Alex-Vygodchikov"
    assignees:
      - "AndreiTsapliuk"
