REDIS_URL=redis://localhost
APP_ENV=development

# AWS Config
AWS_ACCESS_KEY_ID=000000000000
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_DEFAULT_REGION=us-east-1
APPLE_KEYS_DYNAMO_TABLE_NAME=attestation-gateway-apple-keys # Table name for .env.example must match in tests/aws-seed.sh

# Android PlayIntegrity
ANDROID_OUTER_JWE_PRIVATE_KEY="7d5b44298bf959af149a0086d79334e6"
ANDROID_INNER_JWS_PUBLIC_KEY="MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE+D+pCqBGmautdPLe/D8ot+e0/EScv4MgiylljSWZUPzQU0npHMNTO8Z9meOTHa3rORO3c2s14gu+Wc5eKdvoHw=="