export APP_ENV="development"
export REDIS_HOST="localhost"
export REDIS_PORT="6379"
export REDIS_USERNAME="default"
export REDIS_PASSWORD="secret"
export REDIS_USE_TLS="false"
export PORT="8000"
export ANDROID_OUTER_JWE_PRIVATE_KEY="ANDROID_OUTER_JWE_PRIVATE_KEY"
export ANDROID_INNER_JWS_PUBLIC_KEY="ANDROID_INNER_JWS_PUBLIC_KEY"
export APPLE_KEYS_DYNAMO_TABLE_NAME="APPLE_KEYS_DYNAMO_TABLE_NAME"
export TOOLS_FOR_HUMANITY_INNER_JWS_PUBLIC_KEY="MIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBP38q7OQ3M5B/axumNy9MTpKdhv0N7VqdrUQY3rp1rPi1lhJOyO1+pDUWlVSFm9pfJkSQtCWp5/QrSgEiTuEBpC8BoFFA0iYQnOkDF3NdXa6XdSPSpvPlgxvkc6NdmrVtSKLFZ9Ukn6r1ZM5LpXOi/O7ow3VeWuebpDxttCugyFDEt/g="
export ENABLED_BUNDLE_IDENTIFIERS="org.worldcoin.insight.staging,com.worldcoin.dev"
export GATEWAY_SIGNATURE_KEY="h34TEVlF0ixJcDB0mljKoVUlzqx/dKUbxdSx90BtZK8="